/* GENERALS RULES */
*{
     box-sizing: border-box;
     margin:0;
     padding: 0;
     font-family: 'Open Sans',sans-serif;  }

.clearfix::after{
     display: table;
     clear: both;
     content: "";    }

.debug{
     height: 100vh;
     width: 100%; 
     background-color: lawngreen;   }    

header a {
     color: inherit;
     text-decoration: none;     }
     
.bottone {
     padding:10px 25px 10px 25px; 
     margin-bottom: 10px;
     text-align: center;   }
     
.blu {
     background-color: #0061ff;
     color: white;        }

.margine_header_footer{
     margin: 0 8% 0 8% ;    }

.margine_stretto{
     margin: 0 18% 0 18%;  }
/* /GENERALS RULES */

/* --------------       HEADER    ---------------- */

/* ----- NAV ----- */
.margine_nav{
     margin:0 1% 0 1%;  }  

.blocco_nav{
     width: 50%;
     float: left;
     padding: 30px 0px 30px;
     max-height: 80px;      }

.logo{
     float: left;  }

nav li{
     display: inline;
     list-style: none;
     text-decoration: none;     }

.blocco_nav:nth-child(2) > ul , .blocco_nav li{
     text-align: right;
     padding-left: 50px;         }
/* ----- /NAV ----- */

/* ---  HEADER INFERIORE --- */
.sfondo_inf_header{
     background-color: #b4d0e7;
     height: 88vh;
     width: 100%;
     padding-top: 6rem; }

header h1{
     font-size:5rem;
     text-align: justify;
     padding-right: 5rem; 
     margin-bottom: 50px;  }

.layout_header_inferiore{
     text-align: left;
     width: 25%;
     float: left;   }

.immagine_header{
     float: left;
     width: 70%;
     padding-left: 100px;
     background-size: contain;
     background-repeat: no-repeat;  }

.layout_header_inferiore  p{
     margin-bottom: 20px;  }

.layout_header_inferiore span{
     width: 62%;
     display:block;    }

#arrow_down{
     font-size:4rem;
     margin-top: 25px;  }
/* ----  /HEADER INFERIORE ---- */

/* -------------       /HEADER    ---------------- */



/* -------------         MAIN    ---------------- */

/* ----- SECTION 1 ------ */

.margine_stretto  h1{
     font-size: 3rem;
     padding-bottom: 30px;  
     margin-top: 12rem;  }

.layout_a_tre_colonne{
     padding: 40px 0 50px;      }

.box{
     width: 28%;
     height: 105vh;
     float: left;
     border: 1px solid #d0d0d3;    }

.centrale{
     margin: 0 80px 0 80px;   }

.tipologia{
     border-bottom: 1px solid #d0d0d3;
     text-align: center;
     padding: 10px;   }

.descrizione_interna{
    padding: 30px; }

.n_utenti, .spazio_archiviazione, .funzioni {
     margin-bottom: 20px;  }

.prezzo{
     padding:20px 0 10px;
     font-weight: 900;   }

.cadenza{
     padding-bottom: 50px;
     color: grey;       }

.descrizione_interna hr{
     margin:30px 0 30px;
     width: 20%;           }

.descrizione_interna :nth-child(7){
     margin: 30px 0 30px;   }

.descrizione_interna a{
     color:#0061ff;     }

.descrizione_interna li{
     padding-top: 20px;    }

.descrizione_interna ul {
     list-style: none;   }

.bottone>a{
     color:inherit;
     text-decoration: none;     }

.descrizione_interna ul li:before {
     content: "\2714";
     color: #0061ff;
     padding-right: 2px;     }
/* ----- /SECTION 1 ------- */
         
/* -----FOOTER SECTION 1 */

.footer_box{
     width: 97.2%;
     float: left;
     border: 1px solid #d0d0d3;
     margin:50px 0 40px;      }

.enterprise{
     width: 70%;
     padding:30px 0 30px 20px;
     float: left;     }

.ufficio_vendite{
     width: 30%;
     float: left;        }

.enterprise h2{
     margin-bottom: 20px;    }

.enterprise h3 {
     margin-bottom: 30px;  }

.ufficio_vendite>a{
     text-decoration: none;
     display: block;
     margin-top: 30px;    }    

/* ----- /FOOTER SECTION 1 */

/* ----- SECTION 2-------- */








