/* GENERALS RULES */
*{
     box-sizing: border-box;
     margin:0;
     padding: 0;
     font-family: 'Open Sans',sans-serif; 
     scroll-behavior: smooth;   }


body{
     min-width:1440px}

.clearfix::after{
     display: table;
     clear: both;
     content: "";    }

.debug{
     height: 100vh;
     width: 100%; 
     background-color: lawngreen;   }    

a{
     text-decoration: none;
     color: inherit; }   

h1{
     font-size: 3rem;   }

.acquista_ora a, #header_sezione_4 a{
     text-decoration: underline;
     color:#0061ff;     } 

.bottone {
     padding:10px 25px 10px 25px; 
     margin-bottom: 10px;
     text-align: center;   }
     
.blu {
     background-color: #0061ff;
     color: white;        }

.margine_header_footer{
     margin: 0 8% 0 8% ;    }

.margine_stretto{
     margin: 0 18% 0 18%;  }
/* /GENERALS RULES */

/* --------------       HEADER    ---------------- */

/* ----- NAV ----- */
.nav_visibile{
     background-color: white;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 0 12.5px 0 12.5px;
     border-bottom: solid #cfd0d4 1px;}

.link:hover {
     padding-bottom: 38px ;
     border-bottom: solid 2px black;  }

.supporto {
     position: relative;
     display: inline-block;   }
   
.supporto_nascosto {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px;
     z-index: 1;  }

.supporto:hover .supporto_nascosto{
     display: block;  }

     
.blocco_nav{
     width: 50%;
     float: left;
     padding: 30px 0px 30px;      }

.logo{
     float: left; 
     vertical-align: middle;  }

nav li{
     display: inline;
     list-style: none;
     text-decoration: none;     }

.blocco_nav:nth-child(2) > ul , .blocco_nav li{
     text-align: right;
     padding-left: 50px;         }
/* ----- /NAV ----- */

/* ---  HEADER INFERIORE --- */
.sfondo_inf_header{
     background-color: #b4d0e7;
     height: 88vh;
     width: 100%;
     padding-top: 6rem; }

header h1{
     font-size:5rem;
     text-align: justify;
     padding-right: 5rem; 
     margin-bottom: 50px;  }

.layout_header_inferiore{
     text-align: left;
     width: 25%;
     float: left;   }

.immagine_header{
     float: left;
     width: 70%;
     padding-left: 100px;
     background-size: contain;
     background-repeat: no-repeat;  }

.layout_header_inferiore  p{
     margin-bottom: 20px;  }

.layout_header_inferiore div{
     width: 62%;    }

.fa-arrow-down{
     
     font-size:3rem;
     margin-top: 35px;  }
/* ----  /HEADER INFERIORE ---- */

/* -------------       /HEADER    ---------------- */



/* -------------         MAIN    ---------------- */

/* ----- SECTION 1 ------ */

.header_sezione1 h1 {
     padding-bottom: 30px;  
     margin-top: 12rem;  }


/* Radiobox */
.container {
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     user-select: none;  }
   
.container input {
     position: absolute;
     opacity: 0;
     cursor: pointer; }
   
.checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #eee;
     border-radius: 50%;     }
   
.container:hover input ~ .checkmark {
     background-color: #ccc;     }

.container input:checked ~ .checkmark {
     background-color: #0162ff; }
   
.checkmark:after {
     content: "";
     position: absolute;
     display: none;     }
   
.container input:checked ~ .checkmark:after {
     display: block;    }
   
.container .checkmark:after {
     top: 6px;
     left: 6px;
     width: 12px;
     height: 12px;
     border-radius: 50%;
     background: white;   }     
/* Radiobox */

.layout_a_tre_colonne{
     padding: 40px 0 50px;      }

.box{
     width: 28%;
     height: 105vh;
     float: left;
     border: 1px solid #d0d0d3;    }

.centrale{
     margin: 0 80px 0 80px;   }

.tipologia{
     border-bottom: 1px solid #d0d0d3;
     text-align: center;
     padding: 10px;   }

.descrizione_interna{
    padding: 30px; }

.n_utenti, .spazio_archiviazione, .funzioni {
     margin-bottom: 20px;  }

.prezzo{
     padding:20px 0 10px;
     font-weight: 900;   }

.cadenza{
     padding-bottom: 50px;
     color: grey;       }

.descrizione_interna hr, .sezione4_centrale hr{
     margin:35px 0 35px;
     width: 20%;           }

.descrizione_interna :nth-child(7){
     margin: 30px 0 30px;   }

.descrizione_interna li{
     padding-top: 20px;    }

.descrizione_interna ul {
     list-style: none;   }

.bottone>a{
     color:inherit;    }

.descrizione_interna ul li:before {
     content: "\2714";
     color: #0061ff;
     padding-right: 2px;     }
/* ----- /SECTION 1 ------- */
         
/* -----FOOTER SECTION 1 */

.footer_box{
     width: 97.2%;
     float: left;
     border: 1px solid #d0d0d3;
     margin:50px 0 40px;      }

.enterprise{
     width: 70%;
     padding:30px 0 30px 20px;
     float: left;     }

.ufficio_vendite{
     width: 30%;
     float: left;        }

.enterprise h2{
     margin-bottom: 20px;    }

.enterprise h3 {
     margin-bottom: 30px;  }

.ufficio_vendite>a{
     margin-right: 30px;
     display: block;
     margin-top: 30px;    }    

/* ----- /FOOTER SECTION 1 */

/* ----- SECTION 2-------- */

.immagine_sx{
     float: left;
     background-image: url("./img/partner.png");
     background-size: cover;
     background-repeat: no-repeat;
     width: 55%;
     height: 55vh; 
     margin-bottom: 10rem;  }

.descrizione>p{
     padding:40px 0 40px;      }

.descrizione{
     float: left;
     width: 45%;
     padding: 50px 7px 0 90px;      }

.descrizione>a{
     border: 1px solid black;
     color: inherit;   }

/* ----- /SECTION 2-------- */

/* ------ SECTION 3---------*/
/* Layout 3x3 */
.clearfix>.blocco{
    margin-top: 100px; }

.blocco{
     width: 28%;
     float: left;  }

.immagine{
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     height: 30vh;  }
/* Layout 3x3 */

/* -- Immagini dei blocchi -- */
.sx_up{
     background-image: url("./img/business-feature-switching-tools.png");      }

.cent_up{
     background-image: url("./img/business-feature-coordinate-it.png");        }

.dx_up{
     background-image: url("./img/business-feature-multi-device.png");        }

.sx_down{
     background-image: url("./img/business-feature-integrations-it.png");         }

.cent_down{
     background-image: url("./img/business-feature-send-files-it.png");    }

.dx_down{
     background-image: url("./img/business-feature-security.png");     }
/* -- /Immagini dei blocchi -- */
/* ------ /SECTION 3---------*/

/* ----- SECTION 4------------ */
#header_sezione_4 h1{
    margin: 200px 0 40px ; }

.sezione_4{
     width: 100%;
     height: 50vh;
     margin-top: 40px ;  }

.sezione4_centrale{
     width:40%;
     height: 100%;
     float: left; 
     padding: 80px 101px 80px 101px;
     background-color: #f5f5f5;      }

.sezione4_centrale span:first-of-type{
     font-size: 10px;  }

.sezione4_centrale p{
     margin-bottom: 50px;  }

.sezione4_centrale h1{
     line-height: 0px;
     font-size: 30px;
     display: inline;
     font-weight: 800;  } 

.fa-registered{
     font-size: 10px; 
     vertical-align:top;  }

.sezione4_laterale{
     width: 30%;
     height: 100%;
     float: left;  }

.sezione4_laterale img{
     height: 50%;
     width: 50%;
     float: left;
     padding: 80px 40px 80px 40px;      }


/* Blocchi piccoli */
#primo_quadratino{
     background-color: #a2d39b ;
     border: #d0e9cd solid 10px;  }

#secondo_quadratino{
     background-color: #61082b ; }

#terzo_quadratino{
     background-color: #0093ce;  }

#quarto_quadratino{
     background-color: #ff1c1c;  }

#quinto_quadratino{
     background-color: #d5001f ;   }

#sesto_quadratino{
     background-color: #b4d0e7 ;   }

#settimo_quadratino{
     background-color: #0d2481 ;      }

#ottavo_quadratino{
     background-color: #ffd830 ;  }
/* /Blocchi piccoli */

/* Footer sezione 4 */
#sezione_4_footer{
     background-color: #b4d0e7;   
     height: 30vh;   }

.sezione_4_footer_sx, .sezione_4_footer_dx{
     float: left;   }

.sezione_4_footer_contenitore{
    padding:80px 0  ;   }

.sezione_4_footer_sx{
     width: 65%;   
     color: #61082b;  }

.sezione_4_footer_dx{
     width: 35%;      }

.sezione_4_footer_dx .bottone{
     background-color: white;
     width: 100%;
     display: block;   }
/* /Footer sezione 4 */
/* ------ /SECTION 4------------ */

/* ------ SECTION 5------------ */
#sezione_5{
     margin: 150px 0 125px;
     height: 500px;   } 

#sezione_5 h2{
     margin-bottom: 50px;
     font-size: 2rem;     }

.fa-chevron-down{
     position: absolute;
     right: 0;
     top: 30%;    }

#sezione_5 :nth-child(2).domanda{
     border-top: 1px solid #dcdcde; }

.domanda{
     position: relative;
     padding:40px 0 40px;
     border-bottom: 1px solid #dcdcde;  }

.risposta{
    display: none;   }

.domanda:hover .risposta{
     display: block;  
     color: grey;   }
/* ------ /SECTION 5------------ */


/* ------- FOOTER ----------- */
footer {
     background-color: black;  
     color: white;
     height: 55vh;    }

.colonna{
     float:left;
     width: 20%;
     list-style: none;    }

footer li{
     padding-bottom: 10px;     }

.scelta_lingua {
     margin-top: 75px; 
     padding-top: 50px;
     border-top:1px solid #a3a3a3;
     width: 10%;
     color: #484848;   }

footer ul{
     padding-top: 150px;    }

footer h3{
     padding-bottom: 20px;    }
     /* ------- /FOOTER ----------- */











